.draggable-space {
    border: .1em dashed darkgray;
    border-radius: 0;
    color: darkgray;
    height: 15em;
    line-height: 15em;
    text-align: center;

    &:hover, &.element-over-space {
        border-color: black;
        color: black;
        cursor: pointer;
    }
}

.center80 {
    margin: .5em auto 1em;
    overflow: auto;
    position: relative;
    width: 80%;
}

.center100 {
    margin: 0 auto;
    width: 100%;
}

.righted {
    float: right;
}

.inner-left {
    position: absolute;
    left: -0.4em;
    top: 0.5em;
}